body {
    font-family: "Montserrat", sans-serif;
    color: #111;
	background-color: #fafafa;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}



a, address {
    font-style: normal;
    color: inherit;
    font-family: inherit;
}

.accent {
    color: #fd9222;
}
/* Хедер */
.page {
}
.header {
}
.header-nav {
}
.logo {
font-weight: 700;
font-size: 18px;
line-height: 1.11111;
letter-spacing: -0.03em;

}
.logo-accent {
    font-style: italic;
}
.logo-icon {
}
.header-menu {
}
.menu {
}
.menu-item {
}
.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14286;
letter-spacing: -0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}

.header-socials {
}
.socials {
}
.socials-item {
}
.socials-link {

}
.socials-link:hover,
.socials-link:focus {
  color: #fd9222;
}
.socials-icon {
}


/* Секція 2. Hero */

.hero {
    background: rgba(17, 17, 17, 0.7);
}


.hero-title {
font-weight: 500;
font-size: 28px;
line-height: 1.21429;
letter-spacing: -0.03em;
}
.hero-list {
}
.hero-item {
}
.btn-buy {
}
.btn-made {
}
.hero-link {
}
.hero-icon {
}

/* Секція 3. Benefits */
.benefits {
    background: #1e1823;
    color: #fafafa;
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
    
}
.benefits-caption {
    font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 1.22222;
color: #fff;
}
.benefits-text {font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}


/* Секція 4. Ingredients */
.ingredients {
}
.ingredients-title {
}
.accent {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-img {
}
.ingredients-caption {
}

/* Секція 5. Made */
.made {
}
.made-title {
}
.made-img {
}
.made-subtitle {
}
.made-list {
}
.made-item {
}
.products {
}

/* Секція 6. Products */
.products-title {
}
.products-list {
}
.products-item {
}
.products-img {
}
.products-caption {
}
.products-text {
}
.products-price {
}

/* Секція 7. Bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-item {
}
.bestsellers-img {
}
.bestsellers-caption {
}

/* Секція 8. Reviews */
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
}
.reviews-img {
}
.reviews-author {
}
.reviews-text {
}
.review-btn {
}

/* Футер */
.footer {
    background: #1e1823;
    color: #fff;
}
.footer-slogan {
}
.footer-social {
}
.socials-img {
}
.footer-contacts {
}
.footer-contacts-caption {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
}
.footer-menu {
}